<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><a routerLink="/">My Notes</a></span>
    <span class="spacer"></span>
    <span
      ><a routerLink="/create" mat-button *ngIf="isAuthenticated"
        >New Post</a
      ></span
    >
    <span *ngIf="!isAuthenticated"
      ><a routerLink="/auth/login" mat-button>Login</a></span
    >
    <span *ngIf="!isAuthenticated"
      ><a routerLink="/auth/signup" mat-button>Sign up</a></span
    >
    <span *ngIf="isAuthenticated"
      ><button mat-button (click)="logout()">Log out</button></span
    >
  </mat-toolbar-row>
</mat-toolbar>
